<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/api/v1/">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav w-100">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Clientes</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/api/v1/formulario">Registrar</a></li>
            <li><a class="dropdown-item" href="/api/v1/clientes">Listar</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Servicios</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/api/v1/formularioServicios">Registrar</a></li>
            <li><a class="dropdown-item" href="/api/v1/servicios">Listar</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Productos</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Registrar</a></li>
            <li><a class="dropdown-item" href="#">Listar</a></li>
          </ul>
        </li>
        <a class="nav-link" href="/api/v1/landingpage" role="button">Contactanos</a>
        <li class="nav-item ms-auto">
          <button class="btn btn-dark" type="submit" data-bs-toggle="offcanvas" data-bs-target="#demo">
            <i class="bi bi-cart-fill"></i>
            carrito
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<%- include('../partials/carrito'); %>